stages:
  - build-push-container-image
  - deploy-to-k8s


build-push-container-image:
  stage: build-push-container-image
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: mohamedsamirebrahim/microservices-python-image
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - docker build --no-cache -t $IMAGE_NAME:$CI_PIPELINE_IID -t $IMAGE_NAME:latest .
    - docker push $IMAGE_NAME:$CI_PIPELINE_IID
    - docker push $IMAGE_NAME:latest
  interruptible: true
  only:
    - main


deploy-to-k8s:
  stage: deploy-to-k8s
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  before_script:
    - KUBECONFIG=~/.kube/config
    - IMAGE_NAME=mohamedsamirebrahim/microservices-python-image
    - echo $kube_config | base64 -d > $KUBECONFIG
    - kubectl config use-context-eks-gitlab-rollout-manager
  script:
    - kubectl config get-contexts
    - kubectl set image deployment/microservices-app -n default microservices-app=$IMAGE_NAME:$CI_PIPELINE_IID
    - kubectl rollout status deployment/microservices-app -n default
  when: manual
  interruptible: true
  only:
     - main