stages:
  - build-push-container-image
  - deploy-to-k8s


build-push-container-image:
  stage: build-push-container-image
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: mohamedsamirebrahim/microservices-python-image
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - docker build --no-cache -t $IMAGE_NAME:$CI_PIPELINE_IID -t $IMAGE_NAME:latest .
    - docker push $IMAGE_NAME:$CI_PIPELINE_IID
    - docker push $IMAGE_NAME:latest
  interruptible: true
  only:
    - main


