stages:
  - trivy-dependency-check
  - build-push-container-image
  # - deploy-to-k8s

trivy-dependency-check:
  stage: trivy-dependency-check
  image:
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy config .
    - trivy fs --exit-code 1 --severity HIGH,CRITICAL --ignore-unfixed .
  allow_failure: true  # You can set to false to fail the pipeline on findings
  only:
    - merge_requests
    - main
    - dev

build-push-container-image:
  stage: build-push-container-image
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: mohamedsamirebrahim/microservices-python-image
    DOCKER_TLS_CERTDIR: ""
    IMAGE_TAG: "${CI_COMMIT_REF_NAME}-${CI_PIPELINE_IID}"
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - docker build --no-cache -t $IMAGE_NAME:$IMAGE_TAG -t $IMAGE_NAME:latest .
    - docker push $IMAGE_NAME:$IMAGE_TAG
  interruptible: true
  when: manual
  only:
    - merge_requests
    - main
    - dev



# deploy-to-k8s:
#   stage: deploy-to-k8s
#   image:
#     name: bitnami/kubectl:latest
#     entrypoint: ['']
#   before_script:
#     - KUBECONFIG=~/.kube/config
#     - IMAGE_NAME=mohamedsamirebrahim/microservices-python-image
#     - echo $kube_config | base64 -d > $KUBECONFIG
#     - kubectl config use-context arn:aws:eks:us-east-1:948763340657:cluster/my-eks-cluster-gitlab-rollout-manager
#   script:
#     - kubectl config get-contexts
#     - kubectl set image deployment/microservices-app -n default microservices-container=$IMAGE_NAME:$CI_PIPELINE_IID
#     - kubectl rollout status deployment/microservices-app -n default
#   when: manual
#   interruptible: true
#   only:
#      - main