# name: CI Pipeline


# If SonarQube results are a gate to image building, keep your stages ordering.
# If security scanning is a higher priority, consider scanning the image right after building then put the sonarqube check after image scanning.


# ✔ Push events = accepted code → OK to build & publish images
# ❌ PR events = proposed code → run checks only, no publishing
# | Event                                                               | Triggers **Release-Tag Workflow**  | Triggers **CI Workflow** | Notes                                                  |
# | ------------------------------------------------------------------- | ---------------------------------  | ------------------------ | ------------------------------------------------------ |
# | **Push to `dev, test` branch**                                      | ❌ No                              | ✅ Yes                    | Builds & scans **dev images** → `dev-123`              |
# | **Push to `main` branch**                                           | ✅ Yes                             | ❌ No                     | Release workflow bumps version & creates tag           |
# | **Pull request into `dev, test`**                                   | ❌ No                              | ⚠️ Yes (CI only)         | Runs tests/scans; **no images pushed**                 |
# | **Pull request into `main`**                                        | ❌ No                              | ⚠️ Yes (CI only)         | Allows validation before merging; **no images pushed** |
# | **Merge into `main`**                                               | ✅ Yes                             | ❌ No                     | Release workflow creates Git tag (`vX.Y.Z`)            |
# | **Git tag pushed (vX.Y.Z)**                                         | ❌ No                              | ✅ Yes                    | Builds **production image** → `vX.Y.Z`, `latest`       |
# | **Manual run (workflow_dispatch)**                                  | ❌ No                              | ✅ Yes                    | Manually run full CI pipeline                          |
# | **Push to any other branch (feature/* etc.)**                       | ❌ No                              | ❌ No                     | CI is not triggered unless configured                  |
# | **Automatic tag created by release workflow "only in main branch"** | (This workflow creates it)          | ✅ Yes                    | CI runs on tags created by release workflow            |


on:
  repository_dispatch:
    types: [ release-created ]
  workflow_dispatch:
  push:
    branches: [ dev, test ]
  pull_request:
    branches: [ main, dev, test ]

env:
  IMAGE_NAME: mohamedsamirebrahim/microservices-python-image

jobs:
  trivy-dependency-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Scans your project configuration files (like terraform, dockerfile, k8s manifests) (optional but useful).
      - name: Run Trivy Config Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: config
          severity: HIGH,CRITICAL
          ignore-unfixed: true
      - name: Run Trivy FS Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          severity: HIGH,CRITICAL
          ignore-unfixed: true


  sonarqube-check:
    runs-on: ubuntu-latest
    needs: trivy-dependency-check
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        with:
          args: >
            -Dsonar.projectKey=microservices
            -Dsonar.host.url=${{ vars.SONAR_HOST_URL }}
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
            -Dsonar.qualitygate.wait=false
            -Dsonar.exclusions=**/dependency-check-report.html


  build-container-image:
    runs-on: ubuntu-latest
    needs: sonarqube-check
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Determine Docker image tag
        id: version
        run: |
          if [ "${{ github.event_name }}" == "repository_dispatch" ]; then
            # Release triggered by release-tag workflow → semantic tag
            echo "TAG=${{ github.event.client_payload.tag }}" >> $GITHUB_OUTPUT
          else
            # All other branches → dynamic branch-based tag
            BRANCH_NAME=${GITHUB_REF##*/}
            echo "TAG=${BRANCH_NAME}-${GITHUB_RUN_NUMBER}" >> $GITHUB_OUTPUT
          fi
      - name: Build Docker image
        run: |
          docker build -t $IMAGE_NAME:${{ steps.version.outputs.TAG }} .
      - name: Save image
        run: docker save $IMAGE_NAME:${{ steps.version.outputs.TAG }} -o image.tar
      - name: Upload TAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar


  trivy-container-scan:
    runs-on: ubuntu-latest
    needs: build-container-image
    steps:
      - name: Download image TAR
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Scan Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          input: image.tar
          scan-type: image
          severity: HIGH,CRITICAL
          ignore-unfixed: true


  push-container-image:
    runs-on: ubuntu-latest
    needs: trivy-container-scan
    steps:
      - name: Download image TAR
        uses: actions/download-artifact@v4
        with:
          name: docker-image
      - name: Load image
        run: docker load -i image.tar
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Determine Docker image tag
        id: version
        run: |
          if [ "${{ github.event_name }}" == "repository_dispatch" ]; then
            # Release triggered by release-tag workflow → semantic tag
            echo "TAG=${{ github.event.client_payload.tag }}" >> $GITHUB_OUTPUT
          else
            # All other branches → dynamic branch-based tag
            BRANCH_NAME=${GITHUB_REF##*/}
            echo "TAG=${BRANCH_NAME}-${GITHUB_RUN_NUMBER}" >> $GITHUB_OUTPUT
          fi
      - name: Push image
        run: |
          docker push $IMAGE_NAME:${{ steps.version.outputs.TAG }}