# name: CI Pipeline

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

env:
  IMAGE_NAME: mohamedsamirebrahim/microservices-python-image

jobs:

  trivy-dependency-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Scans your project configuration files (like terraform, dockerfile, k8s manifests) (optional but useful).
      - name: Run Trivy Config Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: config
          severity: HIGH,CRITICAL
          ignore-unfixed: true

      - name: Run Trivy FS Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          severity: HIGH,CRITICAL
          ignore-unfixed: true

          
  sonarqube-check:
    runs-on: ubuntu-latest
    needs: trivy-dependency-check
    steps:
      - uses: actions/checkout@v4

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        with:
          args: >
            -Dsonar.projectKey=microservices
            -Dsonar.host.url=${{ vars.SONAR_HOST_URL }}
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
            -Dsonar.qualitygate.wait=false
            -Dsonar.exclusions=**/dependency-check-report.html

            

  build-container-image:
    runs-on: ubuntu-latest
    needs: sonarqube-check
    env:
      IMAGE_TAG: ${{ github.ref_name }}-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build image
        run: |
          docker build --no-cache -t $IMAGE_NAME:$IMAGE_TAG -t $IMAGE_NAME:latest .

      - name: Save image as TAR
        run: docker save $IMAGE_NAME:$IMAGE_TAG -o image.tar

      - name: Upload TAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar

  trivy-container-scan:
    runs-on: ubuntu-latest
    needs: build-container-image
    steps:
      - name: Download image TAR
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Scan Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          input: image.tar
          scan-type: image
          severity: HIGH,CRITICAL
          ignore-unfixed: true