name: release-tag

on:
  push:
    branches:
      - main

jobs:
  release-tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Run release action
        id: release
        uses: mohamedsamirspot/Microservices-Github-Actions/.github/actions/release-tag@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Trigger CI via repository dispatch
        if: steps.release.outputs.new_tag != ''
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event-type: release-created
          client-payload: |
            {
              "tag": "${{ steps.release.outputs.new_tag }}"
            }
